*
{
    margin:0%;
    padding:0%;
}
#origin
{
    display: flex;
    height: 100vh;
}
#main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    
}
#main .card
{
    text-align: center;
    padding:2pt;
    width: 70%;
}
#main img
{
    width: 200px;
}
#side
{
    flex: 1;
    border-right: 1px solid #BEC1BB;
    overflow: scroll;
}
header
{
    display: flex;
    border-bottom: 1px solid #BEC1BB;
}
header img
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
nav
{
    display: flex;
}
#side .chatCard
{
    text-align: center;
    margin: 50px;
}
#side button
{
    background-color: blueviolet;
    border: none;
    width: 80%;
    padding: 10px;
}
#side .card
{
    border-top: 1px solid #BEC1BB;
}
#side .card img
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}